<div class="container my-4">
    <div class="row mx-4 mt-4 justify-content-center">
        <h1>
            Cal's Story
        </h1>
    </div>
    <hr>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg">
                <img src="/images/cal.jpg" class="img-thumbnail img-max border-0" alt="Picture of Cal" width="304" height="236"> 
            </div>
            <div class="col-lg mt-5">
                <div class="justify-content-center mx-4 mt-5">
                    <h2>
                        How the Deferred Sales Trust (DST)
                    </h2>
                    <h2>
                        changed the life of Calvin Garvin
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row pt-4">
            <h5>
                <b>
                    After over 35 years in the Financial Services Business and considered an expert, I thought I knew everything, but I learned something new… 
                </b>
            </h5>
        </div>
        <div class="row pt-4">
            <h6>
                I had been in the Financial Services business for well over 35 years. Had a lot of really good clients that wanted to work with me as their 
                advisor because of classes they had taken that I taught at the local colleges and universities in Southern California specializing in Retirement.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                I had been in the Financial Services business for well over 35 years. Had a lot of really good clients that wanted to work with me as their 
                advisor because of classes they had taken that I taught at the local colleges and universities in Southern California specializing in Retirement.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Over 50% of my clients were engineers in addition to the many attorneys and business owners.  About a third of them owned investment property, mostly apartments. In all cases when I was able to show them that the return on their business or real estate, 
                after expenses, maintenance, insurance, and taxes, could be exceeded by most bank savings accounts, everybody agreed but they couldn’t get over the issue of taxes they would have to pay if they sold their real estate or business. Most of them had a cost basis that was so low, and the taxes in California were so high at selling, 
                they had made the decision to stay with it for the rest of their life. Another humorous but truthful way to look at it was “they had a lifetime job.” Retirement, or enjoying retirement for the business or investment real estate owners, was out of the question or limited at best.
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <h5>
                <b>
                    I Agreed With the Masses….
                </b>
            </h5>
        </div>
        <div class="row pt-4">
            <h6>
                I have to admit, from personal experience, I had to quasi agree with them. At one point in my life I personally owned 24 apartment rental units. Decided early on it was a lot of work for the return and decided to sell, get out of the business. 
                Yes, I paid a fair share of taxes. Later, now having a very successful business with a cost basis of less than 10%, I found myself in a similar situation that many of my clients did.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                There was no way I could ever sell, pay the taxes (in California), they were too high, and maintain the standard of living we wanted.  I was getting to the point in age that I was planning/strategizing in terms of how I could possibly work this business for the rest of my life 
                (yes, I accepted the fact I had lifetime job). With seven employees, a couple hundred clients, managing a lot of money, dealing with governmental regulations that were ever changing, it meant a lot of work. 
                I didn’t see any way I could cut back in my time on the job, EVER. I tried, and there was no way I could get my work hours under 32 hours a week…for the rest of my life.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                I had resigned myself to the same fate that most of my clients had. What is interesting is that I was beginning to realize for myself, what I had seen some of my clients experience, even my own father come to the conclusion that maybe it’s not worth it. 
                From experience I found that by the time many people get into their mid 60s in age, their perspective on life changes and they begin to feel differently. My father decided it wasn’t worth the money and began to sell his 250 rental units off, 
                even though he had to pay the taxes because he felt as he moved into the last fourth of his life, his values and paradigm on life had changed. Time with family, 
                children and grandchildren had become more important (thank you Dad). He was down to a 5-plex by age 75, and gave it to one of my brothers just to get rid of it. Most don’t come to that conclusion. They die with their business or investment.
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <h5>
                <b>
                    I Thought It Was Too Good To Be True!
                </b>
            </h5>
        </div>
        <div class="row pt-4">
            <h6>
                A very good friend of mine I had known for years, in Central California, also in the Financial Services business, while talking to him one day, suggested a process I had never heard of. He said, 
                “Cal, I stumbled onto something I heard about called the Deferred Sales Trust.  It is a way of selling a highly appreciated business or investment property/real estate and defer the taxes, both State and Federal.” In California, 
                that was a significant amount of money I would have to pay in taxes. I looked at the information he emailed me and my initial reaction was, “this is too good to be true.” And typically, when you feel that way it usually is. 
                I ran the numbers, knowing what my business was worth, and if I could at least defer the taxes, there was more than enough there for my wife and I to live the rest of our lives in the manner we wanted. 
                If I had to pay the taxes, it meant I had to keep working another ten or fifteen years, at least, before I could sell. I understood the numbers and the business and knew what to expect.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                A very good friend of mine I had known for years, in Central California, also in the Financial Services business, while talking to him one day, suggested a process I had never heard of. He said, 
                “Cal, I stumbled onto something I heard about called the Deferred Sales Trust.  It is a way of selling a highly appreciated business or investment property/real estate and defer the taxes, both State and Federal.” In California, 
                that was a significant amount of money I would have to pay in taxes. I looked at the information he emailed me and my initial reaction was, “this is too good to be true.” And typically, when you feel that way it usually is. 
                I ran the numbers, knowing what my business was worth, and if I could at least defer the taxes, there was more than enough there for my wife and I to live the rest of our lives in the manner we wanted. 
                If I had to pay the taxes, it meant I had to keep working another ten or fifteen years, at least, before I could sell. I understood the numbers and the business and knew what to expect.
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <h5>
                <b>
                    Two Words That Changed My Life….
                </b>
            </h5>
        </div>
        <div class="row pt-4">
            <h6>
                A very good friend of mine I had known for years, in Central California, also in the Financial Services business, while talking to him one day, suggested a process I had never heard of. He said, 
                “Cal, I stumbled onto something I heard about called the Deferred Sales Trust.  It is a way of selling a highly appreciated business or investment property/real estate and defer the taxes, both State and Federal.” In California, 
                that was a significant amount of money I would have to pay in taxes. I looked at the information he emailed me and my initial reaction was, “this is too good to be true.” And typically, when you feel that way it usually is. 
                I ran the numbers, knowing what my business was worth, and if I could at least defer the taxes, there was more than enough there for my wife and I to live the rest of our lives in the manner we wanted. 
                If I had to pay the taxes, it meant I had to keep working another ten or fifteen years, at least, before I could sell. I understood the numbers and the business and knew what to expect.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Working with a Business Broker that specialized in sales of Financial Services business, I was given a value more than I expected and told when they posted the business for sale, I would probably get at least 15 offers within 24 hours. 
                He was wrong, I got 27 offers, some for more than I was asking. I discounted the price because I wanted at least 50% down and the balance within 24 months. In talking to all the potential buyers over the telephone, 
                I narrowed it down to three, then my wife and I went and personally interviewed the final three. We accepted the offer we were most comfortable with, we got what we were asking for. We immediately took a small down payment, signed an agreement and put the business sale into escrow.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Much to my surprise, this is where it actually got VERY easy. We turned it over to the people that work the Deferred Sales Trust, 
                they said they would take it from there, coordinating the details between the Business Broker/seller, escrow agent, and the buyer, to make it happen in order to defer the taxes on completion of the sale/transaction. And they did, we didn’t have to do much after that other than answer a few questions along the way.  
                Had the sale all wrapped up within 30 days, I no longer owned the business (HOORAY!!). I did a physical onsite 30 day transfer after the sale, connecting my clients to the new owners, and 97% of the clients transferred over just fine.  
                The new owners were extremely happy and so was my wife and I. I no longer had to work a 50 to 60 hour work week the rest of my life (32 hours was in reality a dream).
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                That was over four years ago as of this writing and I haven’t changed my mind. I have all the money I asked for, 
                didn’t have to pay all the taxes (deferred), creating a cash flow that allows me and my wife to maintain a standard of living and 
                live a life that previously I only dreamed about.  And the new owners are still extremely happy with what they bought (we do talk to each other once in awhile).
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <h5>
                <b>
                    So What’s the Next Step?
                </b>
            </h5>
        </div>
        <div class="row pt-4">
            <h6>
                In negotiating the sale of my business I did do one thing that most sellers wouldn’t do. In the category of negotiating the “Non-Compete” clause, I asked for an exception, 
                I wanted to represent the Deferred Sales Trust at a later date (after doing some serious playing/traveling, celebrating the successful sale of the business). The buyers didn’t have a problem with it. As long as I didn’t contact any of the clients to do business, go ahead. Not a problem. We had a deal. So now, after enjoying a lot of travel outside the United States, 
                I’m ready to go back to work and start showing individuals, advisors, brokers, companies and other people how to sell their business or real estate and defer the taxes so they too can live the life they would like to by creating an income off of money they would normally pay out in taxes. Makes a BIG difference, it did for me, and it could for you as well.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                This is a process that is protected by intellectual property rights and works great on real estate and businesses. 
                I am NOT a Business Broker, a CPA, or a Real Estate Agent and don’t want to be, but I do want to help People make the right decisions, and Brokers and other Advisors best serve their clients. Allow me (who is part of the Estate Planning Team) time to discuss the different options with you and see if it’s appropriate for you, it is NOT for everybody and people, companies, Brokers and Advisors should understand this, 
                but if there’s interest and you feel it is appropriate for you or your clients, we can talk about the next step. It’s easy, I did it and so can you or your clients, let’s start by you contacting us if you have questions to set a time to talk on the phone, to answer all your questions and show you just how easy it is to create.— Calvin Garvin
            </h6>
        </div>
        <div class="row justify-content-center pt-4">
            <h6>
                Calvin Garvin (714) 231-9408
            </h6>
        </div>
        <div class="row justify-content-center pt-4">
            <h6>
                Website <a href="https://mydstplan.com/crgarvin" target="_blank">www.mydstplan.com/crgarvin</a>
            </h6>
        </div>
        <div class="row justify-content-center pt-4">
            <h6>
                Email <a href="mailto:calvin@calgarvin.com">www.mydstplan.com/crgarvin</a>
            </h6>
        </div>
        <div class="row justify-content-center pt-4 pb-2">
            <h6>
                <a href="https://www.linkedin.com/in/calgarvin" target="_blank">www.linkedin.com/in/calgarvin</a>
            </h6>
        </div>
        <div class="row justify-content-center pt-4 pb-4">
            <a onclick="topFunction()" class="btn btn-dark text-white">Back To Top</a>
        </div>
    </div>
</div>

<script>

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    
</script>