<div class="container-fluid">
    <div class="container text-center">
        <h2 class="mt-5">Contact Us</h2>
        <div class="my-5">
            <hr>
        </div>
        <h5 class="my-5">
            Calvin Garvin
        </h5>
        <h5 class="my-5">
            Garvin Associates, Inc.
        </h5>
        <h5 class="my-5">
            45110 Club Drive, # B,
        </h5>
        <h5 class="my-5">
            Indian Wells, CA  92210
        </h5>
        <h5 class="my-5">
            Phone: (385) 237-4972
        </h5>
        <h5 class="my-5">
            Cell: (714) 231-9408
        </h5>
        <h5 class="my-5">
            Email <a href="mailto:calvin@calgarvin.com">www.mydstplan.com/crgarvin</a>
        </h5>
    </div>
</div>