<div class="container">
    <div class="container text-center">
        <h2 class="mt-5">Contact Us</h2>
        <div class="my-5">
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="card my-3">
                    <div class="m-4">
                        {{- partial "contact-form.html" . -}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Info</h3>
                <div class="container w-25">
                    <hr>
                </div>
                <h5 class="my-5">
                    Calvin Garvin
                </h5>
                <h5 class="my-5">
                    Garvin Associates, Inc.
                </h5>
                <h5 class="my-5">
                    45110 Club Drive, # B,
                </h5>
                <h5 class="my-5">
                    Indian Wells, CA  92210
                </h5>
                <h5 class="my-5">
                    Phone: (385) 237-4972
                </h5>
                <h5 class="my-5">
                    Cell: (714) 231-9408
                </h5>
                <h5 class="my-5">
                    Email <a href="mailto:calvin@calgarvin.com">www.mydstplan.com/crgarvin</a>
                </h5>
            </div>
        </div>
    </div>
</div>