<div class="container-fluid">
    <footer class="footer">
        <div class="container pt-4">
            <span class="text-muted">
                <div class="row align-items-center justify-content-center">
                    <div class="mx-4">
                        <h5>
                            <a class="text-white" href="/#">Home Page</a>
                        </h5>
                    </div>
                    <h5>
                        |
                    </h5>
                    <div class="mx-4">
                        <h5>
                            <a class="text-white" href="/privacy-policy">Privacy Policy</a>
                        </h5>
                    </div>
                    <h5>
                        |
                    </h5>
                    <div class="mx-4">
                        <h5>
                            <a class="text-white" href="/terms-of-use">Terms of Use</a>
                        </h5>
                    </div>
                    <h5>
                        |
                    </h5>
                    <div class="mx-4">
                        <h5>
                            <a class="text-white" href="/contact-us">Contact Us</a>
                        </h5>
                    </div>
                    <h5>
                        |
                    </h5>
                    <div class="mx-4">
                        <h5>
                            <a class="text-white" href="/disclaimer">Disclaimer</a>
                        </h5>
                    </div>
                </div>
            </span>
        </div>
    </footer>
</div>