<div class="container-fluid">
    <div class="container my-4">
       <div>
            <h2 class="mt-5 text-center">Frequently Asked Questions</h2>
            <div class="my-5">
                <hr>
            </div>
            <h3>Q. What is a Deferred Sales Trust™?</h3>
            <h5 class="my-5">
                A.  The Deferred Sales Trust™ is a Trust that purchases the Seller’s property and then 
                resells it to the ultimate buyer. It allows the Seller to treat the sale as a “Seller-carry 
                back” transaction where the buyer pays the purchase price over time. The language in the 
                Trust documents and the purchase documents (referred to as the “DST Note”) between the 
                Trust and the Seller cause the Seller’s income tax otherwise due on the sale to be deferred 
                until the Seller actually receives the money from the Trust. After the asset is sold by the 
                DST to the ultimate buyer, the Trust may invest the funds in any asset of its choice. 
                There are no investment restrictions, or timeframes for which investments are to be made.
            </h5>
            <h3>Q. What Types of Assets Can be Sold Using the DST?</h3>
            <h5 class="my-5">
                A.  Just about any asset that is subject to capital gains taxation can be deferred with the DST. 
                These assets include rental properties, primary homes, commercial properties, family businesses 
                and your insurance policies that need to be sold for cash. Most common types of asset sales 
                using the DST are the sale of real estate and the sale of a business. 
                The DST can be sometimes be used for other types of asset sales and transactions such as:
            </h5>
            <h5 class="my-5">
                Through <a href="http://calgarvin.com" target="_blank">http://calgarvin.com</a> you are able to link to other websites which are not under the control 
                of <a href="http://calgarvin.com" target="_blank">http://calgarvin.com</a>. We have no control over the nature, content and availability of those sites. 
                The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
            </h5>
            <h5 class="my-5">
                Every effort is made to keep <a href="http://calgarvin.com" target="_blank">http://calgarvin.com</a> up and running smoothly. However,<a href="http://calgarvin.com" target="_blank">http://calgarvin.com</a> takes 
                no responsibility for, and will not be liable for, <a href="http://calgarvin.com" target="_blank">http://calgarvin.com</a> being temporarily unavailable due to 
                technical issues beyond our control.
            </h5>
            <h3>Q. When is the Tax on the Sale Paid?</h3>
            <h5 class="my-5">
                A. The Seller sets up the timeline of when the payments will be made (interest and principal) and the amount of each payment. The payments can be structured in any timeline and amount that the Seller wishes. 
                They can be interest only with the principal amount paid in one balloon payment at the end, or where there are even payments paid over the term of the structure. Regardless, 
                the taxes on the gain are triggered when the principal payments are received. Capital gains rates in the year the payment is received is the rate applied to the principal payments as received. 
                The interest earned on the principal is taxed at ordinary tax rates in the year received.
            </h5>
            <h3>Q. When is the Tax on the Sale Paid?</h3>
            <h5 class="my-5">
                A. The Seller sets up the timeline of when the payments will be made (interest and principal) and the amount of each payment. 
                The payments can be structured in any timeline and amount that the Seller wishes. They can be interest only with the principal amount paid in one balloon payment at the end, or where there are even payments paid over the term of the structure. 
                Regardless, the taxes on the gain are triggered when the principal payments are received. Capital gains rates in the year the payment is received is the rate applied to the principal payments as received. The interest earned on the principal is taxed at ordinary tax rates in the year received.
            </h5>
            <h3>Q. What are the costs involved in doing a DST?</h3>
            <h5 class="my-5">A.  The costs are based on the sales price of the underlying asset involved in the transaction. (See chart below) Please call and speak with a DST case manager – (866) 779-5339</h3>
            <div class="p-2">
                <ul>
                    <li>
                       <p>
                            General DST Fee Chart:
                       </p>
                    </li>
                    <li>
                        <p>
                            Gross Sales Price of the asset being sold:
                        </p>
                    </li>
                    <li>
                        <p>
                            $1-Million and under: 1.50%
                        </p>
                    </li>
                    <li>
                        <p>
                            $1-Million and over: 1.25%
                        </p>
                    </li>
                </ul>
            </div>
            <h3>
                Q. If my client has multiple Assets or Properties that they want to sell over a period of time can the DST work?
            </h5>
            <h5 class="my-5">
                A.  Yes. One DST structure will suffice for multiple assets sold over a period of time. 
                However, planning is required for each asset sold at different times and new documents must be executed. 
                Each sale will require its own separate DST Note but the same Trust can be used. The original fee schedule shall apply to the sale of each additional assets added to the original Trust with the preparing law firm.
            </h5>
            <h3>
                Q. How can I best explain these concepts to my clients?
            </h5>
            <h5 class="my-5">
                A.  The DST provides a means to sell your asset in a manner that allows you to get the tax benefits of a “Seller Carry back” type transaction where you receive your payment, 
                and your taxed over time without sustaining the same level of risk that an inexperienced buyer or illiquid buyer may cause. During this time period and until the installment payment is fully paid, 
                your clients have the advantage of having a larger amount of cash working for them to achieve more value over that selected installment period. With additional planning, the DST can be used in conjunction with estate planning devises to 
                allow you to transfer your client’s assets to their heirs, free Federal Estate Tax, Gift Tax and GST Tax.
            </h5>
            <h3>
                Q. What is the toal amount of assets that can be sold in a DST per person per year?
            </h3>
            <h5 class="my-5">
                A.  The Seller/taxpayer can create an installment note up to $5 Million per person per year. Thus, if your taxpayer is married, 
                then up to $10 Million per calendar year can be sold using the DST. If the sale is near the end of the year or beginning of the year, 
                then action may be taken to spread the transaction across two calendars years to double this amount.
            </h5>
            <h3>
                Q. Who can serve as Trustee or Manager and what is the cost for this service?  
            </h3>
            <h5 class="my-5">
                A.  We only allow professional fiduciaries serve as the Trustee. Many people have used their family friend, attorney, accountant, 
                or a combination of both using a Co-Trustee scenario. When Co-Trustees are employed, both the professional fiduciary as Trustee and the Co-Trustee must sign off on any DST transaction. 
                This method allows for a ‘checks and balances’ procedure that can provide another level of protection for the Seller/Taxpayer.
            </h5>
            <h3>
                Q. How can I best explain these concepts to my clients?
            </h5>
            <h5 class="my-5">
                A.  The DST provides a means to sell your asset in a 
                manner that allows you to get the tax benefits of a “Seller Carry back” type transaction where you receive your payment, and 
                your taxed over time without sustaining the same level of risk that an inexperienced buyer or illiquid buyer may cause. During this time period and until the installment payment is fully paid, 
                your clients have the advantage of having a larger amount of cash working for them to achieve more value over that selected installment period. With additional planning, the DST can be used in conjunction with estate planning devises to allow you to transfer your client’s assets to their heirs, free Federal Estate Tax, Gift Tax and GST Tax.
            </h5>
            <h3>
                Q. What is the toal amount of assets that can be sold in a DST per person per year?
            </h5>
            <h5 class="my-5">
                A.  The Seller/taxpayer can create an installment note up to $5 Million per person per year. Thus, if your taxpayer is married, then up to $10 Million per calendar year can be sold using the DST. If the sale is near the end of the year or beginning of the year, then action may be taken to spread the transaction across two calendars years to double this amount.
            </h5>
            <h3>
                Q. Who can serve as Trustee or Manager and what is the cost for this service?
            </h3>
            <h5 class="my-5">
                A.  We only allow professional fiduciaries serve as the Trustee. Many people have used their family friend, attorney, 
                accountant, or a combination of both using a Co-Trustee scenario. When Co-Trustees are employed, both the professional fiduciary as Trustee and the Co-Trustee must sign off on any DST transaction. 
                This method allows for a ‘checks and balances’ procedure that can provide another level of protection for the Seller/Taxpayer.
            </h5>
            <h3>
                Q. How does the Deferral process work?
            </h3>
            <h5 class="my-5">
                A.  The longer one can defer the installment payments, the longer the money can work through compound interest. The amount and timing of payments is something that should be discussed with the DST financial advisor and Trustee.
            </h5>
            <h3>
                Q. Is the Deferred Sales Trust™ an Insurance product?
            </h3>
            <h5 class="my-5">
                A.  Sometimes the general public becomes confused and thinks this is a structure sale with a commercial annuity type of product. The Deferred Sales Trust™ does not involve insurance.
            </h5>
            <h3>
                Q. Can my clients get loans against the DST?
            </h3>
            <h5 class="my-5">
                A.  Seller/Taxpayer can borrow against their DST Note. Banks are always looking to make loans against assets. The DST Note or the assets of the Trust are assets that can serve as collateral for a loan. We have banks to refer your clients to that will make such loans.
            </h5>
            <h3>
                Q. What if the Client has a Living Trust already? 
            </h3>
            <h5 class="my-5">
                A.  Seller/Taxpayer should know that the DST Note would be included in their taxable estate just like any other asset. EPT will work with you to educate the DST client about their potential estate taxes. If there are estate tax problems, EPT and the tax lawyers can help to work to reduce their estate tax liability.
            </h5>
            <h3>
                Q. Is the DST a Trust that can protect my assets?
            </h3>
            <h5 class="my-5">
                A.  Seller/Taxpayer should know that the DST Note would be included in their taxable estate just like any other asset. EPT will work with you to educate the DST client about their potential estate taxes. If there are estate tax problems, EPT and the tax lawyers can help to work to reduce their estate tax liability.
            </h5>
            <h3>
                Q. What is the best way to market the DST to the general public?
            </h3>
            <h5 class="my-5">
                A.  Work with a professional partner (CPA’s, Real Estate professionals, and others to help you market the DST to Seller/Taxpayers). Use your DST website to educate each Seller/Taxpayer with the correct information. 
                Teach each professional partner to get their own DST website and use it as a tool to educate so you both can benefit and help the Seller/Taxpayers save in capital gains tax.
            </h5>
            <h3>
                Q. Why is it so important to have a tax attorney close the DST?
            </h3>
            <h5 class="my-5">
                A.  Seller/Taxpayer need to be protected in doing tax saving transaction by tax lawyers who understand U.S. Tax laws. Dealing with lawyers who specialize in implementing the DST will help your case close, as they will understand the details of the 
                DST.We find that since the DST is relatively unknown to many professionals at this time that many lawyers and CPA’s don’t have the experience to understand what the DST is all about and we have to do some educating on our part for their understanding. 
                Each outside professional looking at this structure has to make sure that the DST is a sound structure for their clients. The tax lawyer who specializes in the implementation of the DST is by far the best representation for you on every case.
            </h5>
            <h3>
                Q. What is the best way to get started marketing the DST?
            </h3>
            <h5 class="my-5">
                A.  The best way to get started is to listen to a recorded training Webinar or join a live session. You should also read the EPT marketing plan on how to get started. This will certainly help you start building DST cases fast.
            </h5>
            <h3>
                Q. Who is the EPT case manager and why do I need them?
            </h3>
            <h5 class="my-5">
                A.  The EPT case managers are approved DST educators and they are here to help and support you all the way, from when the first client illustration is entered into your DST website to closing the escrow with the tax lawyers. 
                It is very important to work with the case manager to find out all the details of their case. You are required to have a case manager working with you so that there is a team approach. 
                This will certainly increase the chance that you case will close.
            </h5>
            <h3>
                Q. How can I know the amount of my payments from the trustee?
            </h3>
            <h5 class="my-5">
                A. The payments are based on what you, the Seller/Taxpayer, arrange and pre-negotiate with the DST Trained and Approved Trustee. Depending on your income goals and other objectives, the amount and length of term of the installment sales note are your choice and subject to your 100% agreement.
            </h5>
            <h3>
                Q. What happens if I die?
            </h3>
            <h5 class="my-5">
                A. With proper estate planning (i.e., by creating a Living Trust) scheduled installment note payments otherwise due to you can continue to pay to your legal heirs pursuant to the note term that you have chosen.
            </h5>
            <h3>
                Q. Are there any flexibilities or variability in the payment stream, such as increasing the payments over time? 
            </h3>
            <h5 class="my-5">
                A. Yes. The DST Trained and Approved Trustee, in his/her aolute discretion, may allow you to refinance your installment sales note in order to extend or shorten the note term or to provide you with payments (or greater payments) of principal (and should you decide to take an “interest only” note initially).
            </h5>
            <h3>
                Q. Can I cancel the whole deal after a few years and get my money?
            </h3>
            <h5 class="my-5">
                A. If the DST Trained and Approved Trustee deems appropriate, He/She may elect to terminate the installment sales contract.  However, you would immediately owe all the taxes, including all unpaid capital gains due from the original sale of the property/capital asset.
            </h5>
            <h3>
                Q. What happens if capital gain tax rates are changed after I set up the DST?
            </h3>
            <h5 class="my-5">
                A. Politicians, from time to time, discuss changing capital gain rates. If that happens you would pay the new rate on the capital gains portion of your installment note payment. However, there is usually adequate notice to make a sound financial decision prior to any such change in taxation or tax rates.
            </h5>
            <h3>
                Q. Can I use my installment sales note to get back into real estate?
            </h3>
            <h5 class="my-5">
                A. Yes, please contact the Estate Planning Team or a duly qualified DST tax professional to discuss this option.  We recommend that you work with Estate Planning Team’s Professional Advisors who are experienced in trust law, trust asset management and tax law.
            </h5>
            <h3>
                Q. When the trust sells the property may I keep some of the cash from the sale?
            </h3>
            <h5 class="my-5">
                A. Yes, in that case you would pay taxes only on the capital gain portion of the money which you kept for yourself outside the trust.
            </h5>
            <h3>
                Q. How can I have my tax advisor or attorney analyze the DST strategy?
            </h3>
            <h5 class="my-5">
                A. For detailed technical information, have your CPA contact EPT for a full legal and tax cite package. 
                The names Deferred Sale Trust™ and DST are common law trademarked names and are not found in the code. All of the legal and tax authority used in the DST are in the tax code, treasury regulations, cases, or rulings based upon the foundations found within the tax law.
            </h5>
            <h3>
                Q. I’m interested in finding out if this works for me. What should I do next?
            </h3>
            <h5 class="my-5">
                A. It’s very easy.  Your next step is to complete a “free illustration request” on-line at: <a href="www.mydstplan.com/crgarvin" target="_blank">www.mydstplan.com/crgarvin</a>
            </h5>
            <h5 class="my-5">
                Or, you can call and request a “free DST illustration” which will illustrate your particular facts and circumstances surrounding your potential sale as it relates to utilizing the DST.  Once you have received the illustration summary, you can then review this information with a trust case manager and share this information with your CPA or tax attorney for further review.

                IRS Circular 230 Disclosure: To ensure compliance with requirements imposed by the IRS, we inform you that any U.S. federal tax advice contained in this communication (including any attachments) is not intended or written to be used, and cannot be used, 
                for the purpose of (i) avoiding penalties under the Internal Revenue Code or (ii) promoting, marketing or recommending to another party any transaction or matter addressed herein.
            </h5>
            <div class="row justify-content-center pt-4 pb-4">
                <a onclick="topFunction()" class="btn btn-dark text-white">Back To Top</a>
            </div>
       </div>
    </div>
</div>

<script>

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    
</script>