<div class="container-fluid">
    <div class="container my-4">
       <div>
            <h2 class="mt-5 text-center">Frequently Asked Questions</h2>
            <div class="my-5">
                <hr>
            </div>
            <h3>Q. What is a Deferred Sales Trust™?</h3>
            <h5 class="my-5">
                A.  The Deferred Sales Trust™ is a Trust that purchases the Seller’s property and then 
                resells it to the ultimate buyer. It allows the Seller to treat the sale as a “Seller-carry 
                back” transaction where the buyer pays the purchase price over time. The language in the 
                Trust documents and the purchase documents (referred to as the “DST Note”) between the 
                Trust and the Seller cause the Seller’s income tax otherwise due on the sale to be deferred 
                until the Seller actually receives the money from the Trust. After the asset is sold by the 
                DST to the ultimate buyer, the Trust may invest the funds in any asset of its choice. 
                There are no investment restrictions, or timeframes for which investments are to be made.
            </h5>
            <h3>Q. What Types of Assets Can be Sold Using the DST?</h3>
            <h5 class="my-5">
                A.  Just about any asset that is subject to capital gains taxation can be deferred with the DST. 
                These assets include rental properties, primary homes, commercial properties, family businesses 
                and your insurance policies that need to be sold for cash. Most common types of asset sales 
                using the DST are the sale of real estate and the sale of a business. 
                The DST can be sometimes be used for other types of asset sales and transactions such as:
            </h5>
            <h5 class="my-5">
                Through http://calgarvin.com you are able to link to other websites which are not under the control 
                of http://calgarvin.com. We have no control over the nature, content and availability of those sites. 
                The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
            </h5>
            <h5 class="my-5">
                Every effort is made to keep http://calgarvin.com up and running smoothly. However,http://calgarvin.com takes 
                no responsibility for, and will not be liable for, http://calgarvin.com being temporarily unavailable due to 
                technical issues beyond our control.
            </h5>
       </div>
    </div>
</div>