<header class="page-header container">
  <div class="row">
    <div class="col-lg my-2 mx-2">
      <a href="/index.html" class="navbar-brand"><img width="220" class="logo" src="/images/menu-logo.png" alt="Garvin Associates, INC"></a>
    </div>
    <div class="col-lg text-right header-text m-auto my-2 mx-2">
      <h5>Have Questions? We Have Answers! Email us: calrobyngarvin@gmail.com</h5>
      <h5>Call Now • Phone: (385) 237-4972 • Cell: (714)-231-9408</h5>
    </div>
  </div>
  <div class="">
    <nav class="navbar navbar-expand-lg mx-auto navbar-dark menu-bar-custom">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">
              <div class="nav-text">
                <h5 class="text-center">
                  <span class="mx-2"><strong>Home</strong></span>
                </h5>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/more-information">
              <div class="nav-text">
                <h5 class="text-center w-100">
                  <span class="mx-2"><strong>More Info</strong></span>
                </h5>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cals-story">
              <div class="nav-text">
                <h5 class="text-center">
                  <span class="mx-2"><strong>Cal's Story</strong></span>
                </h5>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/frequently-asked-questions">
              <div class="nav-text">
                <h5 class="text-center">
                  <span class="mx-2"><strong>FAQ</strong></span>
                </h5>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://mydstplan.com/crgarvin"  target="_blank">
              <div class="nav-text">
                <h5 class="text-center">
                  <span class="mx-2"><strong>Compare Taxable vs DST</strong></span>
                </h5>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://mydstplan.com/crgarvin" target="_blank">
              <div class="nav-text">
                <h5 class="text-center">
                  <span class="mx-2"><strong>Business Value Score</strong></span>
                </h5>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
  
<script>
  $(document).ready(function(){
      $('.dropdown-submenu a.mdrop').on("click", function(e){
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
</script>

<div class="below-header-spacing">

</div>
