
<div class="row justify-content-center container-fluid">
    
    <div class="row my-5">
        <div class="col-5">
            <div class="large-card justify-content-right layer-high">
                <div class="mx-4 my-4 justify-content-right float-right">
                    {{- partial "main-page-form.html" . -}}
                </div>
            </div>
        </div>
        <div class="d-flex my-4 layer-low">
            <div class="my-4">
                <img height="700" src="/images/cal.jpg" alt="Cal Garvin">
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="col-lg justify-content-right">
            <div class="mx-5 text-left">
                <div>
                    <div class="row">
                        <h3>
                            Used To Be There Were Only Three Ways To Deal With Selling Real Estate or a Privately Owned Business
                        </h3>
                        <h6>
                            <div class="row">
                                <ol class="">
                                    <li class="my-3">
                                        Don’t Sell, and the beneficiaries inherit the real estate or business and will not pay a capital gains tax. 
                                        You have a life time job.
                                    </li>
                                    <li class="my-3">
                                        The 1031 Exchange, fees are minimal, but then you still have a life time job.
                                    </li>
                                    <li class="my-3">
                                        Sell and Pay the Taxes. Cuts into your Lifetime Income.
                                    </li>
                                    <h5 class="my-3">
                                        Now You Have a New Alternative!
                                    </h5>
                                    <li class="my-3">
                                        The Deferred Sales Trust™, defers capital gains and eliminates or minimizes estate taxes. 
                                        You can now draw income from the total sales proceeds.
                                    </li>
                                </ol>
                            </div>
                            <div class="row">
                                <h3 class="">
                                    Here’s How It Works:
                                </h3>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="my-3">
                                        Step 1   We have the Estate Planning Team’s Legal Network set up your <strong>Deferred Sales Trust™</strong>
                                    </li>
                                    <li class="my-3">
                                        Step 2   We assist you in transferring your asset to the <strong>Deferred Sales Trust™</strong>
                                    </li>
                                    <li class="my-3">
                                        Step 3   <strong>Deferred Sales Trust™</strong> sells the asset and there is minimal gain on the sale attributable to the trust.
                                    </li>
                                    <li class="my-3">
                                        Step 4  The trust pays you an income in the increments and frequency you specify.
                                    </li>
                                    <li class="my-3">
                                        Step 5   You only pay the capital gains tax when you pull the original principal out and ordinary 
                                        income tax on the income taken out of the <strong>Deferred Sales Trust.</strong>
                                    </li>
                                    <li class="my-3">
                                        Step 6   The total value of the trust can be passed estate tax free to your heirs.
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <h5 class="my-2 mb-4">
                                    <a href="/more-information">More Information about the Deferred Sales Trust™ (DST)</a>
                                </h5>
                            </div>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="mx-4 d-flex justify-content-center">
                <div class=" card">
                    <div class="mx-4 my-2">
                        <div class="row mx-3 text-left">
                            <h5>
                                SPECIAL REPORT
                            </h5>
                        </div>
                        <div class="row mx-1 text-left">
                            <h6>
                                What's Your Company's Sellability Score?
                            </h6>
                        </div>
                        <hr>
                        <div class="row mx-1 text-left">
                            <h6>
                                Take our free survey and learn how your business measures up.
                            </h6>
                        </div>
                        <div class="row mx-1 my-1">
                            <h6>
                                <a href="">FIND OUT NOW</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>