<div class="container my-4">
    <a name="top"></a>
    <div class="row mx-4 mt-4 justify-content-center">
        <h1>
            More Information
        </h1>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row pt-4 justify-content-center">
            <h4>
                <strong>
                    How many times have you heard or made, these comments?
                </strong>
            </h4>
        </div>
        <div class="row pt-4 justify-content-center">
            <h5>
                <strong>
                    “If I sell my property I am going to get killed with taxes?”
                </strong>
            </h5>
        </div>
        <div class="row pt-4">
            <h6>
                Those of us who own highly appreciated assets such as homes, commercial real estate and businesses, are often reluctant to sell that asset because of the capital gains tax and depreciation recapture costs associated with the sale.  
                There is a perfectly legal way to defer capital gains tax and reduce your overall tax burden. The <strong>Deferred Sales Trust™</strong> can provide a way out.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                “I do not want to continue to hold or manage the asset or investment, in order for my kids to inherit my assets at a stepped up value when I pass away.”
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Sound too familiar? Most people don’t realize estate taxes are almost 50% above varying exemptions, and that “step-up” values are set to cap at $5.25M in 2013!
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                There is a smart, functional, and legal way to address these issues. The answer may lay with a powerful tax tool called the <strong>Deferred Sales Trust™</strong> .
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                If you own a business or real estate with a large amount of gain and are not selling your property because of capital gains taxes, or can’t find suitable, qualified property exchanges, then you may want to consider a <strong>Deferred Sales Trust™ (DST).</strong>
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                The <strong>DST</strong> utilizes a legal and established method that allows the seller of the property to defer capital gains taxes due at the time of sale over a period of time that is selected by the Seller/Taxpayer in advance.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Deferring taxes, legally, is not new. Some commonly used tax deferral methods include 1031 exchanges, charitable trusts and traditional seller carry-back installment sale contracts.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Trust law predates the formation of the U.S. law and tax law.  Various types of trusts are used by millions of Americans in order to protect and preserve their wealth for themselves and their heirs.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                The <strong>DST</strong> can be used with any kind of entity, e.g., LLCs, S or C election corporations, as well as individuals who own real estate, rental properties, vacation homes, commercial properties, hotels, land, industrial complexes, retail developments, and raw land, to name a few.
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <h5>
                <strong>
                    What are Long Term Capital Gains Taxes?
                </strong>
            </h5>
        </div>
        <div class="row pt-4">
            <h6>
                Long-term capital gains tax is simply defined as the tax we pay on the profit we make when we sell a capital asset we’ve held for a year or more. Capital Gains Tax is calculated by subtracting what you paid for the asset from the net selling price. 
                The current long term Capital Gains Tax rate for a capital asset owned for one year or longer is typically 15%- 20% for Federal taxes. Starting in 2013, 
                there is an additional federal tax on income, known as the Investment Income Tax (funding Medicare). This investment Income Tax has an applicable rate of 3.8% on some (but not all) income from interest, dividends, rents (less expenses) and capital gains (less capital losses). 
                Most states charge 5% to 10% on top of that (CA is as high as 13.3%), making the total tax run as high as 37.1%. If there was depreciation taken on the asset, the cost basis is lowered by that amount, thus increasing the taxable gain!
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Even with your primary residence, factoring in your tax exemption of $250,000 each for husband and wife, you may still have a hefty tax surprise when you sell your property and in the form of Capital Gains Taxes.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                That isn’t the end of the story for the total tax effect though. Capital gain is added to the taxpayer’s adjusted gross income (AGI). This may raise the “floor” above which one can take a number of itemized deductions and affect, consequently, the Alternative Minimum Tax.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                This could result in a large decrease or total loss of those deductions. This makes the effective, but hidden capital gain rate much larger than the stated federal and state rates. And, of course, tax payment obligations would begin immediately.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                To make matters worse the capital gain and depreciation recapture taxes must be paid in the following tax quarter after the sale of the asset.
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <h5>
                <strong>
                    What are Long Term Capital Gains Taxes?
                </strong>
            </h5>
        </div>
        <div class="row pt-4">
            <h6>
                The process starts with initial due diligence and prospective marketing and market research. 
                If the transaction is viable, the Trust and property owner will negotiate to reach terms with regard to the asset(s). If the transaction is feasible, the property owner (“Seller/Taxpayer”), 
                selling ownership of the property/capital asset to a dedicated trust (the “Trust”) that is set up specifically for the Seller/Taxpayer and the contemplated transaction.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Next, the Trustee (must be <strong>DST</strong> Trained and Approved) of the trust pays the Seller/Taxpayer for the property/capital asset. The payment isn’t in cash, but with a special payment contract called an “installment sales contract”. 
                It is strictly a private arrangement between the trust and the Seller/Taxpayer. The term of payments are established in advance and pursuant to the sale contract negotiated by and between the Seller/Taxpayer and the Trustee.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                The payments may begin immediately or they may be deferred for some period of months or years.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                The Trust then sells the property. There are generally minimal Capital Gains Taxes due from the Trust on the sale since the Trust often purchases the property for a price and value similar to what it may get sold to a third party Buyer.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                The Seller/Taxpayer is not taxed on the sale since he has not yet received any cash for the sale. Often Seller/Taxpayers will choose deferral because they have other income and don’t need the payments right away. Of course, the payments may begin immediately.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Deferral is strictly an option. It is important to understand that payment of the capital gains tax to the IRS 
                is done with an “easy installment plan” as the Seller/Taxpayer receives the payments. Part of the payment received is tax free return of basis, part is return of gain which is taxed at capital gain rates, 
                and part is interest. On top of that, the tax payments will be made with depreciated dollars. The tax dollars will likely be worth less than they are today due to inflation. If invested properly, 
                the money in the trust could potentially grow at a greater rate than that of inflation and even the distribution rate and ensures the necessary liquidity to pay back the note due to the Seller/Taxpayer. 
                (The interest rate in the note to you is dictated by the IRS to be a fair and arm’s length or competitive rate, i.e., 6% to 8%.)
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                While we have primarily focused on Capital Gains Tax, the amount of gain due to straight line depreciation is also deferred with a <strong>DST</strong>. 
                But if you have taken accelerated depreciation in excess over straight line, this amount is not deferrable.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                There is proper diversification by the <strong>DST</strong> Trained and Approved Trustee in investing the <strong>DST's</strong>s funds. The <strong>DST</strong> Trained and Approved Trustee may invest in REIT’s, 
                bonds, annuities, securities or other “prudent investments” that are suitable to help assure the Trustee’s performance in repaying the 
                Seller/Taxpayer pursuant to the held installment sales note. The <strong>DST</strong> Trained and Approved Trustee’s reinvestment of the proceeds may result in more or less risk depending on the nature of where the proceeds are reinvested.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                An inherent goal of the trust’s investment objective is simply to produce the cash flow necessary for the scheduled installment sales note payments to the Seller/Taxpayer.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                There are significant benefits to a Seller/Taxpayer in electing to use the DST when selling their property/capital asset:
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
           <h6>
               <strong>
                -Tax Deferral: When appreciated property/capital assets are sold, capital gains tax on said sale is generally deferred until the Seller/Taxpayer actually receives the payments.
               </strong>
           </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <h6>
                <strong>
                    -Estate Tax Benefits: May accomplish an “estate tax freeze” for estate tax purposes.
                </strong>
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <strong>
                <h6>
                    <strong>
                        -Maintains Family Wealth: When properly structured, the principal inside the subject installment sales note can be preserved with “interest only” 
                        or partial principal payments creating the potential to pass on a large portion of the note principal to your legal heirs with proper estate planning.
                    </strong>
                </h6>
            </strong>
        </div>
        <div class="row pt-4 justify-content-center">
            <h6>
                <strong>
                    -Estate Liquidity: Converts an illiquid asset into monthly payments.
                </strong>
            </h6>         
        </div>
        <div class="row pt-4 justify-content-center">
            <h6>
                <strong>
                    -Retirement Income: Provides a stream of income that can be used as retirement income.
                </strong>
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <h6>
                <strong>
                    -Probate Avoidance: With proper estate planning.
                </strong>
            </h6>
        </div>
        <div class="row pt-4 justify-content-center">
            <h6>
                <strong>
                    -Eliminates Risks Associated with Ownership: By utilizing the DST, you have taken an asset that is otherwise  “exposed” or liability prone and converted it to a “no-liability” asset.
                </strong>
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                Nothing is required to be given away to charity, as happens with the competing strategy known as a Charitable Remainder Trust.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                The <strong>DST</strong> allows all due principal and accrued interest to be paid to the Seller/Taxpayer via a custom prepared installment sales agreement, whereas the Charitable Remainder Trust often pays income (interest) only. 
                The <strong>DST</strong> has the potential and likelihood to yield more bottom line dollars to the property/capital asset Seller/Taxpayer than a Charitable Remainder Trust.
            </h6>
        </div>
        <div class="row pt-4">
            <h6>
                The <strong>DST</strong> has the ability to generate substantially more wealth over the long run than a direct and taxed sale.  
                It may be superior to the Charitable Remainder Trust, installment sale or like-kind property exchange in many respects. Consult your tax advisor to ascertain the potential benefits of this option.
            </h6>
        </div>
        <div class="row justify-content-center pt-4 pb-4">
            <a onclick="topFunction()" class="btn btn-dark text-white">Back To Top</a>
        </div>
    </div>
</div>

<script>

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}

</script>